services:
  - type: web
    name: weather-frontend
    env: docker
    dockerfilePath: ./frontend/Dockerfile
    dockerCommand: nginx -g "daemon off;"
    envVars:
      - key: PORT
        value: 10000
      - key: VITE_API_URL
        value: https://weather-backend-knii.onrender.com/api
      - key: VITE_ENV
        value: production
      - key: VITE_CACHE_TIME
        value: 3600
      - key: VITE_LOG_LEVEL
        value: info
      - key: VITE_ENABLE_AUTH
        value: true
      - key: VITE_ENABLE_CART
        value: true
      - key: VITE_SITE_NAME
        value: KYSong Store
      - key: VITE_CONTACT_EMAIL
        value: support@kysong.store
    healthCheckPath: /
    autoDeploy: true 