services:
  - type: web
    name: weather-backend
    env: docker
    dockerfilePath: Dockerfile
    buildFilter:
      paths:
        - "**/*"
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        value: mongodb+srv://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@cluster0.mongodb.net/weather?retryWrites=true&w=majority
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGIN
        value: https://weather-of7u.onrender.com
      - key: LOG_LEVEL
        value: info
    autoDeploy: true 